@import "tailwindcss";

html, body {
 user-select: none;
}


.modal-open .leaflet-container {
  z-index: 0;
}

/* Ensure leaflet map is behind modals and chat windows */
.leaflet-container {
z-index: 10;
}
